body
{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e58e6e;
}
.container
{
  position: relative;
  max-width: 350px;
  width: 100%;
  background: #fee7d6;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
header
{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  color: #333;
  font-weight: 550;
  text-align: center;
}
textarea
{
  font-size: larger;
  width: 90.5%;
  height: 200px;
  border-radius: 10px;
  margin: 20px 0;
  padding: 10px 15px;
  resize: none;
  outline: none;
  border: 1px solid #e58e6e;
}
button
{
  width: 100%;
  padding: 14px 0;
  border: none;
  border-radius: 8px;
  font-size: 1.5rem;
  font-style: bold;
  color: #fee7d6;
  background: #e58e6e;
  cursor: pointer;
  transition: all 0.3s ease;
}
button:hover
{
  background: #ff703c;
}